body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 700px;
}

#gameArea {
    height: 400px;
    background: #ddd;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Balloon shape */
.balloon {
    width: 50px;
    height: 65px;
    border-radius: 50% 50% 45% 45%;
    position: absolute;
    bottom: -80px;
    cursor: pointer;
}

/* balloon string */
.balloon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 25px;
    background: black;
    left: 50%;
    bottom: -25px;
}
